<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Resources.Pages.IndexModel.EtsooBrand</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-white border-bottom box-shadow pt-3 pb-3 mb-3">
            <div class="container">
                <a href="https://www.etsoo.com"><img src="~/etsoo.png" class="logo" /></a>
                <span class="text-muted text-end d-none d-md-block small"><a href="https://www.etsoo.com">www.etsoo.com</a><br />@Resources.Pages.IndexModel.EtsooSlogan</span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @Resources.Pages.IndexModel.EtsooBrand @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>